Thumbs.db
.DS_Store
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vsmdi
obj
bin
packages/*
!packages/repositories.config
TestResults
test/Flaherty.Mapping.BingMaps.Tests/App.config
test/Flaherty.Mapping.BingMaps.WebControls.SampleApp/Web.config
test/Flaherty.Mapping.MapQuest.Tests/App.config
test/Flaherty.Mapping.MapQuest.WebControls.SampleApp/Web.config
